.env
.credentials/

### https://raw.github.com/github/gitignore/f2bd62d680e2c17027525caf5fd67aa1b3e8ae03/Composer.gitignore

composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


